*/apex/
.java/
*/.env/
venv/
*/.idea/
*/.git/
data/
dataset/
*/__pycache__/
.ipynb_checkpoints/
backup/
dataset/
logs/
outdir/
source/outdir/
source/translation/Dictionary/
source/translation/Model/
source/waveglow/checkpoints/
source/waveglow/wavs/
source/waveglow/tacotron2/
tools/