<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="3600"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="css/Custom.css"/>
    <link rel="stylesheet" href="css/App.css"/>
	<script src="static/highcharts_modules/jquery.min.js"></script>
	<script src="static/highcharts_modules/highcharts.js"></script>
	<script src="static/highcharts_modules/highcharts-more.js"></script>
	<script src="static/highcharts_modules/data.js"></script>
	<script src="static/highcharts_modules/series-label.js"></script>
	<script src="static/highcharts_modules/export-data.js"></script>
	<script src="static/highcharts_modules/exporting.js"></script>
	<script src="static/highcharts_modules/es6-promise.min.js" integrity="sha256-45YA33UQCDcJsntBst2bhka2t/LBNHP7RNvpllHPkQ0=" crossorigin="anonymous"></script>
    <script src="static/highcharts_modules/es6-promise.auto.min.js" integrity="sha256-OI3N9zCKabDov2rZFzl8lJUXCcP7EmsGcGoP6DMXQCo=" crossorigin="anonymous"></script>
	<script src="static/highcharts_modules/fetch.min.js" integrity="sha256-eOUokb/RjDw7kS+vDwbatNrLN8BIvvEhlLM5yogcDIo=" crossorigin="anonymous"></script>
	<script src="static/highcharts_modules/d3-dsv.v1.min.js"></script>
    <script src="static/highcharts_modules/d3-fetch.v1.min.js"></script>

<script>
    var data;
    var current_tab = "gt";
    var pressure = [];
    var gt_generate_name_list = [];
    var cc_generate_name_list = [];
    var gt_send_name_list = [];
    var cc_send_name_list = [];
    var _suffix=['-18','-19','-20','-21','-22','-23','00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','-00','-01','-02','-03'];
    _suffix.forEach(function(element){
        gt_generate_name_list.push("#generated-power-gt-" + element);
        cc_generate_name_list.push("#generated-power-cc-" + element);
        gt_send_name_list.push("#send-power-gt-" + element);
        cc_send_name_list.push("#send-power-cc-" + element);       
    });

    function removeDups(array) {
        let unique = {};
        array.forEach(function(i) {
            if(!unique[i]) {unique[i] = true;}
        });
        return Object.keys(unique)
    };

    function reset_table(){
        for(i=0;i<34;i++){
            $(gt_generate_name_list[i]).html("산출");
            $(cc_generate_name_list[i]).html("산출");
            $(gt_send_name_list[i]).html("산출");
            $(cc_send_name_list[i]).html("산출");
        };
    };

    function activeTabButton(evt, buttonName) {
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tab-button");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" tab-button-active", "");
        }
        evt.currentTarget.className += " tab-button-active";
    }
    $(function(){
        $("#csv").click(function(){
            var select_element = document.getElementById("date-select");
            var opt = select_element.options[select_element.selectedIndex];
            var index = [];
            var temperature = [];
            d3.csv("static/data/input_template.csv").then(function(data) {
                for(i=0;i<data.length;i++){
                    date = new Date(data[i].time);
                    y = date.getFullYear();
                    m = date.getMonth()+1;
                    d = date.getDate();
                    selected_date = pad2(y)+"-"+pad2(m)+"-"+pad2(d);
                    if(date == opt){
                        index.push(data[i].time);
                        temperature.push(data[i].temperature);
                    }
                }
            });
            // //// variables will be used
            // ////time,air_temperature,pressure_compr_inlet,fuel_gas_supply_pressure,fuel_gas_supply_temperature,measured_generator_gross_power_output,measured_power_at_excitation_transformer_mkc,average_turbine_speed,measured_stator_current_1,measured_stator_current_2,measured_stator_current_3,measured_generator_voltage_1,measured_generator_voltage_2,measured_generator_voltage_3,barometric_pressure,ambient_relative_humidity,scr_exh_gas_flow,st_condenser_vacuum,gt_eoh,metan_proportion,clean_time,operation_times,corrected_output
            // var output=[] /// generated power output
            // var time=[]
            // var temperature = []

            // d3.csv("LNG_data_.csv").then(function(data) {
            //     //df = [data[0].Categories, data[0].Apples, data[0].Pears, data[0].Oranges, data[0].Bananas]; // [{"Hello": "world"}, …]
            //     for (i=data.length-1; i>=data.length-1000; i--){
            //         time.push(data[i].time) //time variable
            //         output.push(data[i].measured_generator_gross_power_output) // power  output variable
            //         temperature.push(data[i].air_temperature)
            //     }
            //     output = output.map(function (x) { return parseFloat(x); })
            //     temperature = temperature.map(function (x) { return parseFloat(x); })
            //     d = new Date(time[time.length-1])
            //     console.log(temperature)
        });
    });
    ///// trigger '산출' button to calculate
    $(function(){
        $('#ml-form_submit').click(function(){
            $("#warning-message").html("");
            if(form_validation()==true){
                // var user = $('#inputUsername').val();
                // var pass = $('#inputPassword').val();
                $.ajax({
                    url: '/ml-inference',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response){
                        /////////// successfully calculated/////////////////
                        data = JSON.parse(response);
                        for(i=0;i<34;i++){
                            $(gt_generate_name_list[i]).html(data.gt_generate_predicted[i]);
                            $(cc_generate_name_list[i]).html(data.cc_generate_predicted[i]);
                            $(gt_send_name_list[i]).html(data.gt_transfer_predicted[i]);
                            $(cc_send_name_list[i]).html(data.cc_transfer_predicted[i]);
                             /// returned pressure is a number, convert to array for plotting graph
                             pressure.push(data.pressure);
                        };
                        
                        if (current_tab=="gt"){
                            ////// draw power reduction graph
                            ////// draw power reduction graph
                            var power_reduction = data.power_reduction.slice(6,30).map(function(element){
                                return element / 1000
                            });
                            draw_power_reduction(power_reduction);
                            ////// draw generated power + temperature + barometric pressure graph
                            var power_min = Math.min.apply(null,data.gt_generate_predicted) - (Math.max.apply(null,data.gt_generate_predicted)/2 - Math.min.apply(null,data.gt_generate_predicted)/2);
                            draw_output(data.gt_generate_predicted.slice(6,30), data.temperature.slice(6,30), pressure.slice(6,30), power_min);
                        }else{
                            ////// draw power reduction graph
                            ////// draw power reduction graph
                            var power_reduction = data.power_reduction.slice(6,30).map(function(element){
                                return Math.floor(element*0.1) / 100;
                            });
                            draw_power_reduction(power_reduction);
                            ////// draw generated power + temperature + barometric pressure graph
                            var power_min = Math.min.apply(null,data.cc_generate_predicted) - (Math.max.apply(null,data.cc_generate_predicted)/2 - Math.min.apply(null,data.cc_generate_predicted)/2);
                            draw_output(data.cc_generate_predicted.slice(6,30), data.temperature.slice(6,30), pressure.slice(6,30), power_min);
                        }
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            }
        });
    });

    $(function(){
        $('#form_submit').click(function(){
            $("#warning-message").html("");
            
            if(form_validation()==true){
                // var user = $('#inputUsername').val();
                // var pass = $('#inputPassword').val();
                $.ajax({
                    url: '/inference',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response){
                        /////////// successfully calculated/////////////////
                        data = JSON.parse(response);
                        
                        
                        
                        for(i=0;i<34;i++){
                            $(gt_generate_name_list[i]).html(data.gt_generate_predicted[i]);
                            $(cc_generate_name_list[i]).html(data.cc_generate_predicted[i]);
                            $(gt_send_name_list[i]).html(data.gt_transfer_predicted[i]);
                            $(cc_send_name_list[i]).html(data.cc_transfer_predicted[i]);
                            /// returned pressure is a number, convert to array for plotting graph
                            pressure.push(data.pressure);
                        };
                        if (current_tab=="gt"){
                            ////// draw power reduction graph
                            ////// draw power reduction graph
                            var power_reduction = data.power_reduction.slice(6,30).map(function(element){
                                return element / 1000
                            });
                            draw_power_reduction(power_reduction);
                            ////// draw generated power + temperature + barometric pressure graph
                            var power_min = Math.min.apply(null,data.gt_generate_predicted) - (Math.max.apply(null,data.gt_generate_predicted)/2 - Math.min.apply(null,data.gt_generate_predicted)/2);
                            draw_output(data.gt_generate_predicted.slice(6,30), data.temperature.slice(6,30), pressure.slice(6,30), power_min);
                        }else{
                            ////// draw power reduction graph
                            ////// draw power reduction graph
                            var power_reduction = data.power_reduction.slice(6,30).map(function(element){
                                return element / 1000
                            });
                            draw_power_reduction(power_reduction);
                            ////// draw generated power + temperature + barometric pressure graph
                            var power_min = Math.min.apply(null,data.cc_generate_predicted) - (Math.max.apply(null,data.cc_generate_predicted)/2 - Math.min.apply(null,data.cc_generate_predicted)/2);
                            draw_output(data.cc_generate_predicted.slice(6,30), data.temperature.slice(6,30), pressure.slice(6,30), power_min);
                        }
                        
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            }
        });
    }); 

    function monthDiff(dateFrom, dateTo) {
        return dateTo.getMonth() - dateFrom.getMonth() + (12 * (dateTo.getFullYear() - dateFrom.getFullYear()))
    };

    $(function gt_tab_selected(){
        $("#tab-GT").click(function(){
            current_tab = "gt";
            ////// draw generated power + temperature + barometric pressure graph
            var power_min = Math.min.apply(null,data.gt_generate_predicted) - (Math.max.apply(null,data.gt_generate_predicted)/2 - Math.min.apply(null,data.gt_generate_predicted)/2);
            draw_output(data.gt_generate_predicted.slice(6,30), data.temperature.slice(6,30), pressure.slice(6,30), power_min);
            
            ///// get historical data to draw the send_power chart
            //// selected date
            var select_element = document.getElementById("date-select");
            var opt = select_element.options[select_element.selectedIndex];
            //// get data which is within 5 month from now
            var dates = [];
            var months = [];
            var gt1= [],gt2= [],gt3= [],gt4= [],gt5 = [];
            var today = new Date();
            var lastday_of_month = new Date(today.getFullYear(), today.getMonth()+1, 0);
            d3.csv("static/data/log_data_GT_CC.csv").then(function(data) {
                
                for(i=0;i<data.length;i++){
                    temp = data[i].time.replace("-","/")
                    date = new Date(temp);

                    diff = monthDiff(lastday_of_month, date);
                    if(diff>=-1){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        gt1.push(data[i].GT);
                    } else if(diff>=-2){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        gt2.push(data[i].GT);
                    }else if(diff>=-3){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        gt3.push(data[i].GT);
                    }else if(diff>=-4){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        gt4.push(data[i].GT);
                    }else if(diff>=-5){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        gt5.push(data[i].GT);
                    }
                }

                ////convert to number
                gt1 = gt1.map(function (x) { return parseFloat(x)});
                gt2 = gt2.map(function (x) { return parseFloat(x)});
                gt3 = gt3.map(function (x) { return parseFloat(x)});
                gt4 = gt4.map(function (x) { return parseFloat(x)});
                gt5 = gt5.map(function (x) { return parseFloat(x)});
                
                var log_1 = sum(gt1);
                var log_2 = sum(gt2);
                var log_3 = sum(gt3);
                var log_4 = sum(gt4);
                var log_5 = sum(gt5);

                var passive_power_1 = 6 * gt1.length;
                var passive_power_2 = 6 * gt2.length;
                var passive_power_3 = 6 * gt3.length;
                var passive_power_4 = 6 * gt4.length;
                var passive_power_5 = 6 * gt5.length;

                draw_summary_graph(removeDups(months),[log_5,log_4,log_3,log_2,log_1],[passive_power_5,passive_power_4,passive_power_3,passive_power_2,passive_power_1]);
            });
            
        });
    });

    function mean(array){
        var sum=0;
        for(i=0;i<array.length;i++){
            sum+=array[i];
        }
        return sum/array.length
    }

    function sum(array){
        var sum=0;
        for(i=0;i<array.length;i++){
            sum+=array[i];
        }
        return sum
    }

    
    $(function cc_tab_selected(){
        $("#tab-CC").click(function(){
            current_tab="cc";
            ///// redraw graph
            ////// draw generated power + temperature + barometric pressure graph
            var power_min = Math.min.apply(null,data.cc_generate_predicted) - (Math.max.apply(null,data.cc_generate_predicted)/2 - Math.min.apply(null,data.cc_generate_predicted)/2);
            draw_output(data.cc_generate_predicted.slice(6,30), data.temperature.slice(6,30), pressure.slice(6,30), power_min);


            ///// get historical data to draw the send_power chart
            //// selected date
            var select_element = document.getElementById("date-select");
            var opt = select_element.options[select_element.selectedIndex];
            //// get data which is within 5 month from now
            var dates = [];
            var months= [];
            var cc1= [],cc2= [],cc3= [],cc4= [],cc5 = [];
            var today = new Date();
            var lastday_of_month = new Date(today.getFullYear(), today.getMonth()+1, 0);
            d3.csv("static/data/log_data_GT_CC.csv").then(function(data) {
                
                for(i=0;i<data.length;i++){
                    temp = data[i].time.replace("-","/")
                    date = new Date(temp);
                    diff = monthDiff(lastday_of_month, date);
                    if(diff>=-1){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        cc1.push(data[i].CC);
                    } else if(diff>=-2){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        cc2.push(data[i].CC);
                    }else if(diff>=-3){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        cc3.push(data[i].CC);
                    }else if(diff>=-4){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        cc4.push(data[i].CC);
                    }else if(diff>=-5){
                        dates.push(date.getFullYear()+"-"+(date.getMonth()+1)+date.getDate());
                        months.push(date.getFullYear()+"-"+(date.getMonth()+1));
                        cc5.push(data[i].CC);
                    }
                }

                ////convert to number
                cc1 = cc1.map(function (x) { return parseFloat(x)});
                cc2 = cc2.map(function (x) { return parseFloat(x)});
                cc3 = cc3.map(function (x) { return parseFloat(x)});
                cc4 = cc4.map(function (x) { return parseFloat(x)});
                cc5 = cc5.map(function (x) { return parseFloat(x)});
                
                var log_1 = sum(cc1);
                var log_2 = sum(cc2);
                var log_3 = sum(cc3);
                var log_4 = sum(cc4);
                var log_5 = sum(cc5);

                var passive_power_1 = 6 * cc1.length;
                var passive_power_2 = 6 * cc2.length;
                var passive_power_3 = 6 * cc3.length;
                var passive_power_4 = 6 * cc4.length;
                var passive_power_5 = 6 * cc5.length;
                

                draw_summary_graph(removeDups(months),[log_5,log_4,log_3,log_2,log_1],[passive_power_5,passive_power_4,passive_power_3,passive_power_2,passive_power_1]);
            });
            
        });
    });
    ///form validatioon function
    function form_validation(){
        var textbox_list = document.getElementsByClassName('temperature-input-textbox');
        var array=[];
        var error = true;
        for (i=0;i<textbox_list.length;i++){
            array.push(textbox_list[i]);
        }
        array.forEach(function(element) {
            if (element.value==''){
                $("#warning-message").html("* 온도를 입력해 주세요!");
                error = false;
            }else if(-50>element.value || element.value>70){
                $("#warning-message").html("* 온도는 -50~70도 입니다!");
                error = false;
            }
        });
        
        var textbox_pressure = document.getElementById("txt-pressure");
        if (800>textbox_pressure.value || textbox_pressure.value>1200){
            $("#warning-message").html("* 대기압은 800~1200 mbar 입니다!");
            error = false;
        }else if (textbox_pressure.value==""){
            $("#warning-message").html("* 대기압을 입력해 주세요!");
            error = false;
        }
        var textbox_cleaned_time = document.getElementById("txt-cleaned-time");
        if (textbox_cleaned_time.value<0){
            $("#warning-message").html("* 수세정후 시간은 음수 아닙니다!");
            error = false;
        }else if (textbox_cleaned_time.value==""){
            $("#warning-message").html("* 수세정후 시간을 입력해 주세요!");
            error = false;
        }
        return error
    };



    //checking for valid number 
    $(document).on('change', '.temperature-input-textbox', function() { 
        var input_value = parseFloat($(this).val());
        if(isNaN(input_value)) { input_value = 0; }
        $(this).val(input_value);
    });
    $(document).on('change', '.textbox-input', function() { 
        var input_value = parseFloat($(this).val());
        if(isNaN(input_value)) { input_value = 0; }
        $(this).val(input_value);
    });
    
    //checking for valid number 
    $(document).on('focus', '.temperature-input-textbox', function() {
        $(this).val('');
    });
    $(document).on('focus', '.textbox-input', function() { 
        $(this).val('');
    });

    ////function display the realtime clock
    function display_time(){
        var interval=1000 /// 1second interval;
        time = setTimeout('display_clock()',interval)
    };


    function display_clock(){
        var date = new Date();
        time = pad2(date.getHours( ))+ ":" +  pad2(date.getMinutes()) + ":" +  pad2(date.getSeconds());
        $('#clock').html(time)
        display_time();
    };

    
    //// function to add 0 ahead of single number
    function pad2(number) {
        return (number < 10 ? '0' : '') + number
    };

    //// create a list of dates from startDate to endDate
    var today = new Date();
    //var startDate = new Date(today.getFullYear(), 0, 1);
    var startDate = today;
    var endDate = new Date(today.getFullYear(),today.getMonth(),today.getDate()+72); //YYYY-MM-DD
    //// function to generate dates list
    var getDateArray = function(start, end) {
        var arr = new Array();
        var dt = new Date(start);
        while (dt <= end) {
            arr.push(new Date(dt).toISOString().split("T")[0]);
            dt.setDate(dt.getDate() + 1);
        }
        /// add the last day of year
        arr.push(new Date(dt).toISOString().split("T")[0]);
        return arr
    }
    //// listup the dates
    datesList = getDateArray(startDate, endDate);
    ///// generate tables
    $(document).ready(function(){
        var date = new Date();
        year = date.getFullYear();
        month= date.getMonth()+1;
        day=date.getDate();
        weekday = date.getDay();
        if (weekday==1){
            wd ='월요일'
        }else if (weekday==2){
            wd ='화요일'
        }else if (weekday==3){
            wd ='수요일'
        }else if (weekday==4){
            wd ='목요일'
        }else if (weekday==5){
            wd ='금요일'
        }else if (weekday==6){
            wd ='토요일'
        }else{
            wd ='일요일'
        }
        $('#div-info-date').html(year +'년 '+month+'월'+day+'일, ' + wd);
        today = pad2(year)+"-"+pad2(month)+"-"+pad2(day)
        // $('#date-select').empty();
        $.each(datesList, function(i, p) {
            if (today === p){
                $('#date-select').append($('<option selected="selected"></option>').val(p).html(p));
            }else{
                $('#date-select').append($('<option></option>').val(p).html(p));
            }
        });

        //// draw calculated table
        table_body = ""
        hour = 17
        for(i=1;i<=34;i++){
                hour +=1
                if(Math.floor(hour/24)<1){
                    table_body+="<tr><td>-"+pad2(hour%24)+"01</td><td class='tesst' name='send-power-gt--"+pad2(hour%24)+"' id='send-power-gt--"+pad2(hour%24)+"'>산출</td><td name='send-power-cc--"+pad2(hour%24)+"' id='send-power-cc--"+pad2(hour%24)+"'>산출</td><td>-"+pad2(hour%24)+"01</td><td name='generated-power-gt--"+pad2(hour%24)+"' id='generated-power-gt--"+pad2(hour%24)+"'>산출</td><td name='generated-power-cc--"+pad2(hour%24)+"' id='generated-power-cc--"+pad2(hour%24)+"'>산출</td></tr>"        
                }else if(Math.floor(hour/24)==1){
                    table_body+="<tr><td>"+pad2(hour%24)+"01</td><td name='send-power-gt-"+pad2(hour%24)+"' id='send-power-gt-"+pad2(hour%24)+"'>산출</td><td name='send-power-cc-"+pad2(hour%24)+"' id='send-power-cc-"+pad2(hour%24)+"'>산출</td><td>"+pad2(hour%24)+"01</td><td name='generated-power-gt-"+pad2(hour%24)+"' id='generated-power-gt-"+pad2(hour%24)+"'>산출</td><td name='generated-power-cc-"+pad2(hour%24)+"' id='generated-power-cc-"+pad2(hour%24)+"'>산출</td></tr>"        
                }else{
                    table_body+="<tr><td>+"+pad2(hour%24)+"01</td><td name='send-power-gt-+"+pad2(hour%24)+"' id='send-power-gt--"+pad2(hour%24)+"'>산출</td><td name='send-power-cc-+"+pad2(hour%24)+"' id='send-power-cc--"+pad2(hour%24)+"'>산출</td><td>+"+pad2(hour%24)+"01</td><td name='generated-power-gt-+"+pad2(hour%24)+"' id='generated-power-gt--"+pad2(hour%24)+"'>산출</td><td name='generated-power-cc-+"+pad2(hour%24)+"' id='generated-power-cc--"+pad2(hour%24)+"'>산출</td></tr>"        
                }
            };
        $('#generated-output-data').html(table_body);

            ////// draw temperature table
        table_body = "" 
        hour = 12
        for(i=1;i<=14;i++){
                hour +=3
                if(Math.floor(hour/24)<1){
                    table_body+="<tr><td>-"+pad2(hour%24)+"</td><td><input name='input-temp--"+pad2(hour%24)+"' class='temperature-input-textbox' type='text' placeholder='입력온도'/></td></tr>"            
                }else if(Math.floor(hour/24)==1){
                    table_body+="<tr><td>"+pad2(hour%24)+"</td><td><input name='input-temp-"+pad2(hour%24)+"' class='temperature-input-textbox' type='text' placeholder='입력온도'/></td></tr>"            
                }else{
                    table_body+="<tr><td>+"+pad2(hour%24)+"</td><td><input name='input-temp-+"+pad2(hour%24)+"' class='temperature-input-textbox' type='text' placeholder='입력온도'/></td></tr>"            
                }
            };
        $('#input-temperature').html(table_body);
    });
</script>
</head>
<body onload=display_time();>
<div id="wrapper">
    <!-- left container-->
    <div id="left-container">
        <div id="div-logo">
            <img src="static/icons/kospo_logo.png" width="100%" height ="auto"/>
        </div>
        <hr/><hr/><hr/>
        <div id="div-system-infos">
                <div id="div-info-station">
                        <span>안동복합화력</span>
                        <span>발전소</span>
                </div>
                <hr/>
                <div id="div-info-date">
                    Systenm's info
                </div>
                <hr/>
                <div id="div-info-clock">
                    <span>현재시간:</span>
                    <span id="clock" ></span>
                </div>
                <hr/>
                <div id="div-info-cleaned-hour">
                    <span >EHB:</span>
                    <span id="system_operation_time" ></span>
                </div>
                <hr/>
                <div id="div-info-nearest-clean-time">
                    <span>최근 수세정:</span>
                    <span id="nearest_cleaned_time" ></span>
                </div>
        </div>
        <hr/>
        <div id="div-menu-items">
        <div id="pressure">
            <div> 대기압 </div>
            <div>
                <div class="text-temp">
                    1021<span class="celc">mbar</span>
                </div>
                
            </div>
        </div>
        <div id="temperature">
            <div> 온도 </div>

            <div id="temp_before">
                <div class="text-temp-small">25<span class="celc">°C</span></div>
                <div class="div-time" id="last_3_hours">
                    <script>
                        var now = new Date().getHours();
                        var last_3_hours = Math.floor(now/3) * 3 - 3
                        $(document).ready(function(){
                            $('#last_3_hours').html(pad2(last_3_hours)+':00')
                        })
                    </script>
                </div>
            </div>
            <div id="temp_now">
                <div class="text-temp">28.5<span class="celc">°C</span></div>
                <div>현재</div>
            </div>
            <div id="temp_latter">
                <div class="text-temp-small">24<span class="celc">°C</span></div>
                <div class="div-time" id="next_3_hours">
                    <script>
                        var now = new Date().getHours();
                        var next_3_hours = Math.floor(now/3) * 3 + 3
                        $(document).ready(function(){
                            $('#next_3_hours').html(pad2(next_3_hours)+':00')
                        })
                    </script>
                </div>
            </div>
        </div>
        

        </div>
    </div>


    <!-- right container-->
    <div id="graph-container">
        <div id="graph-upper-container">
            <form role="form" name="input_form">
                    <div class="div-input" id="div-date-input">
                        <div class="upper-input"> <select id="date-select" name="date-select"></select></div>
                        <div id="div-temperature-input" class="lower-element">
                            <table class="table-input table" id="table-temperature-input">
                                <thead>
                                    <tr>
                                        <td><span>시간</span></td>
                                        <td><span>온도</span></td>
                                    </tr>
                                </thead>
                                <tbody id="input-temperature">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="div-output" id="div-power-output-wrapper">
                        <div class="upper-input" id="div-pressure-cleaned-input">
                            <div id="div-pressure-input">
                                <span class="label-input">입찰 대기압 (mbar):</span> 
                                <input name="txt-pressure" id="txt-pressure" class="textbox-input" type="text"/>
                            </div>
                            <div id="div-cleaned-time-input">
                                <span class="label-input">수세정후 시간 (hr):</span> 
                                <input name="txt-cleaned-time" id="txt-cleaned-time" class="textbox-input" type="text"/>
                            </div>
                            <div>
                                <button class="button" type="button" name="csv" id="csv">엑셀 입력</button>
                                <button class="button" type="reset" name="reset" onclick="reset_table();">다시 입력</button>
                                <button class="button" type="button" name="ml-submit" id="ml-form_submit">ML-산출</button>
                                <button class="button" type="button" name="submit" id="form_submit">수식 산출</button>
                            </div>
                            
                        </div>
                        <div id="div-power-output" class="lower-element">
                            <table class="data-table table" >
                                <thead>
                                    <tr><td><span>송전단</span></td><td colspan="2"><span>가용량</span></td><td><span>발전단</span></td><td colspan="2"><span>가용량</span></td></tr>
                                    <tr><td><span>거래시간</span></td><td><span>GT</span></td><td><span>CC</span></td><td><span>거래시간</span></td><td><span>GT</span></td><td><span>CC</span></td></tr>
                                </thead>
                                <tbody id="generated-output-data">
                                </tbody>
                            </table>
                        </div>
                    </div>
            </form>
        </div>
        <div id="graph-lower-container">
            <!-- container of 발전-송전 그림과 출력저하 그림-->
            <div id="left-graph-container">
                <div class="button-inlet-type"><button class="tab-button" id="tab-GT" onclick="activeTabButton(event, 'GT')">GT</button><button class="tab-button" id="tab-CC" onclick="activeTabButton(event, 'CC')">CC</button></div>
                <div>
                    <div id="div-generated-graph" class="graph">발전-송전 그림</div>
                    <div id="div-power-loss-graph" class="graph">출력저하 그림</div>
                </div>
                
            </div>
            <div id="right-graph-container"> 
                <!-- container of 산출 발전량 그림-->
                <div class="button-inlet-type">
                        <span id='warning-message'></span>
                </div>
                <div id="div-calculated-output-graph">산출 발전량 그림</div>
            </div>
        </div>
    </div>
</div>



<!-- draw highchart graphs-->
<script>
    /// Highcharts injection modules
    
    //// data
    // var output=[428.6349792,428.6349792,429.3438721,428.2450562,427.8551636,427.8551636,428.4931946,428.4931946,428.9539795,428.5995178,427.6070557,427.6070557,428.8476563,428.8476563,429.3084412,429.3084412,428.6704102,428.6704102,428.6349792,428.6349792,428.6349792,428.6349792,428.7058716,428.7058716,428.6349792,428.6349792,429.1666565,429.1666565,428.9539795,428.2096252,428.2096252,428.0678406,428.2096252,429.3438721,429.1666565,428.2096252,428.4577332,428.6349792,428.6349792,428.5995178,428.4223022,427.8197327,427.890625,427.890625,428.4223022,427.9969482,428.9539795,428.4931946,428.4931946,428.4931946] /// generated power output
    var output=[428.6349792,428.6349792,429.3438721,428.2450562,427.8551636,427.8551636,428.4931946,428.4931946,428.9539795,428.5995178,427.6070557,427.6070557,428.8476563,428.8476563,429.3084412,429.3084412,428.6704102,428.6704102,428.6349792,428.6349792,428.6349792,428.6349792,428.7058716] /// generated power output
    var output_2 = output.map( function(value) {return value - Math.floor(Math.random() * 2) -3});
    var time=[]
    var temperature = [-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394,-0.379047394]

    output = output.map(function (x) { return parseFloat(x)})
    temperature = temperature.map(function (x) { return parseFloat(x)})

    /// draw lost power graph
    function draw_power_reduction(power_reduction_serie){
        Highcharts.chart('div-power-loss-graph', {
            chart: {
                type: 'line',
                style:{
                    fontFamily:'Batang'
                }
            },
            title: {
                text: '출력저하',
                style:{
                    fontWeight:'Bold'
                }
            },
            xAxis: {
                categories: ['0시', '1시', '2시', '3시', '4시', '5시','6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시']
            },
            yAxis: {
                title: {
                    text: '전력 (MW)'
                }
            },
            tooltip: {
                headerFormat: '<b>출력 저하량</b><br/>',
                pointFormat: '{series.name}: {point.y}'
            },
            plotOptions: {
                line: {
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return parseFloat(this.y.toFixed(2)).toLocaleString()
                    }
                },
                enableMouseTracking: false
                }
            },
            series: [{
                name: '산출 출력저하',
                data: power_reduction_serie,
            }]
        });
    };

    function draw_summary_graph(cats, send_power, passive_power){
        /// draw generated output and sent power
        Highcharts.chart('div-generated-graph', {
            chart: {
                type: 'column',
                style:{
                    fontFamily:'Batang'
                },
            },
            title: {
                text: '최근 5월 송전량',
                style:{
                    fontWeight:'Bold',
                },
            },
            xAxis: {
                categories: cats,
            },
            yAxis: {
                min: 0,
                title: {
                    text: '전력 (MW)',
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray',
                    },
                    formatter: function () {
                        return parseFloat(this.total.toFixed(2)).toLocaleString()
                    },
                },
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false,
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}',
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        formatter: function () {
                            return parseFloat(this.y.toFixed(2)).toLocaleString()
                        },
                    },
                }
            },
            series: [{
                color:'#444000',
                name: '송전량',
                data: send_power,
            }, {
                color: '#33aaef',
                name: '소내소비동력',
                data: passive_power,
            },
            ],
        });
    };
        
    function draw_output(serie_1, serie_2, serie_3, power_min){
        //// draw output graph
        Highcharts.chart('div-calculated-output-graph', {
            chart: {
                zoomType: 'xy',
                style:{
                    fontFamily:'Batang'
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return parseFloat(this.y.toFixed(2)).toLocaleString()
                        }
                    }
                }
            },
            title: {
                text: '산출 발전량',
                align: 'center',
                style:{
                    fontWeight:'Bold'
                }
            },
            xAxis: [{
                categories: ['0시', '1시', '2시', '3시', '4시', '5시','6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
                crosshair: true
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value}°C',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                title: {
                    text: '온도',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                opposite: true

            }, { // Secondary yAxis
                min: power_min,
                gridLineWidth: 0,
                title: {
                    text: '발전량',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value} MW',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    },
                    shadow: false,
                    enabled: false,
                }

            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: '대기압',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    },
                    shadow: false
                },
                labels: {
                    format: '{value} mb',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    },
                    shadow: false
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 80,
                verticalAlign: 'top',
                y: 55,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)',
                shadow: false
            },
            series: [{
                name: '발전출력',
                type: 'column',
                yAxis: 1,
                data: serie_1,
                tooltip: {
                valueSuffix: ' MW'
                }

            }, {
                name: '대기압',
                type: 'spline',
                yAxis: 2,
                data: serie_3,
                marker: {
                enabled: false
                },
                dashStyle: 'shortdot',
                tooltip: {
                valueSuffix: ' mbar'
                }

            }, {
                name: '온도',
                type: 'spline',
                data: serie_2,
                tooltip: {
                valueSuffix: ' °C'
                }
            }],
            responsive: {
                rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                    floating: false,
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                    x: 0,
                    y: 0
                    }
                }
                }]
            }
        });
    };


    var serie_1=[409.9, 341.5, 350.4, 419.2, 402.0, 421.0, 435.6, 417.5, 411.4, 434.1, 375.6, 350.4,409.9, 341.5, 350.4, 419.2, 402.0, 421.0, 435.6, 417.5, 411.4, 434.1, 375.6, 350.4];
    var serie_2=[7.0, 6.9, 7.5, 7.5, 8.2,  8.3, 9.3, 11.9,15.2, 16.5, 16.3, 18.3, 19.6,17.0, 18.9, 17.5, 14.5, 13.2, 13.5,  12.9,11.5, 9.2, 8.5, 7.6];
    var serie_3=[1016, 1016, 1015.9, 1015.5, 1012.3, 1009.5, 1009.6, 1010.2, 1013.1, 1016.9, 1018.2, 1016.7,1016, 1016, 1015.9, 1015.5, 1012.3, 1009.5, 1009.6, 1010.2, 1013.1, 1016.9, 1018.2, 1016.7];
    
    draw_summary_graph(['2019-01-15', '2019-02-26', '2019-03-05', '2019-04-02'],[402.564, 392.332, 375.564, 392.223],[10, 11, 24, 8])
    draw_power_reduction([2.7,3.9,4.2,4.8,5.7,6.6,6.9,8.5,9.5,9.6,10.3,11.9,13.9,14.2,14.5,15.2,16.6,17,18.3,18.4,21.5,23.3,25.2,26.5])
    draw_output(serie_1, serie_2, serie_3, 370);
    

        ///// draw barometric pressure graph
    // Highcharts.chart('pressure', {

    //     chart: {
    //     type: 'gauge',
    //     backgroundColor:null
    //     },
    //     exporting: { enabled: false },
    //     title: {
    //         text: '대기압',
    //         style:{
    //             color: '#FFFFFF',
    //             fontFamily:'Batang',
    //         }
    //     },

    //     pane: {
    //     startAngle: -120,
    //     endAngle: 120,
    //     },

    //     // the value axis
    //     yAxis: {
    //     min: 900,
    //     max: 1100,

    //     minorTickInterval: 'auto',
    //     minorTickWidth: 1,
    //     minorTickLength: 10,
    //     minorTickPosition: 'inside',
    //     minorTickColor: '#666',
    //     tickPixelInterval: 20,
    //     tickWidth: 2,
    //     tickPosition: 'inside',
    //     tickLength: 10,
    //     tickColor: '#666',
    //     labels: {
    //         step: 2,
    //         rotation: 'auto'
    //     },
    //     title: {
    //         text: 'mbar'
    //     },
    //     plotBands: [{
    //         from: 900,
    //         to: 1050,
    //         color: '#55BF3B' // green
    //     }, {
    //         from: 1025,
    //         to: 1075,
    //         color: '#DDDF0D' // yellow
    //     }, {
    //         from: 1075,
    //         to: 1100,
    //         color: '#DF5353' // red
    //     }]
    //     },

    //     series: [{
    //     name: '현재 대기압',
    //     data: [1021],
    //     tooltip: {
    //         valueSuffix: ' mbar'
    //     }
    //     }]


    //     // Add some life
    //     });

</script>
</body>